html {
  height: 100%; }

body {
  height: 100%; }

.row {
  margin-bottom: 0; }
  .row .col.full {
    padding: 0; }

.deploy-steps .collection-item {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .deploy-steps .collection-item .fa {
    font-size: 20px; }
  .deploy-steps .collection-item .secondary-content {
    color: #03a9f4; }
  .deploy-steps .collection-item.success .secondary-content {
    color: #4caf50; }
  .deploy-steps .collection-item.failure .secondary-content {
    color: #f44336; }

nav {
  box-shadow: none; }
  nav .brand-logo.right {
    padding-top: 7px;
    padding-right: 15px; }
  nav .brand-logo img {
    width: 30px; }

.browser {
  height: calc(100vh - 64px); }
  .browser iframe {
    height: calc(100vh - 64px);
    width: 100%;
    border: none; }

.editor-col {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }
  .editor-col.disabled {
    min-width: 0;
    max-width: 0; }

.browser-col {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  box-shadow: inset 8px 0px 7px -8px rgba(0, 0, 0, 0.16); }
  .browser-col.active {
    max-width: 100%;
    min-width: 100%; }
  .browser-col nav {
    box-shadow: inherit; }
