$primary-color: #1A1E2D;
$secondary-color: #F5534E;
@import 'materialize';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
}

.editor-wrapper {
  .header-row {
    margin-bottom: 0;
  }

  .header-cols {
    padding: 0;

    nav {
      box-shadow: none;
    }

    .header-avatar img {
      width: 30px;
      line-height: 64px;
    }
  }

  .code-mode-cols {
    padding: 0;
  }

  .tabs-row {
    $tab-bg-color: #EBEAEB;
    $tab-text-color: #9D9D9D;
    $tab-active-bg-color: #F3F4F4;
    $tab-active-text-color: #5B5B5B;
    $tabs-row-bg-color: #F6F6F6;
    $tab-border-color: hsla(0, 0%, 62%, .2);

    background-color: $tabs-row-bg-color;
    border-bottom: 1px solid $tab-border-color;
    margin: 0;

    .tab {
      background-color: $tab-bg-color;
      color: $tab-text-color;
      height: 35px;
      line-height: 35px;
      border-right: 1px solid $tab-border-color;
      font-size: 12px;
    }

    .tab-active {
      background-color: $tab-active-bg-color;
      color: $tab-active-text-color;
    }
  }
}

.browser {
  height: calc(100vh - 64px);

  iframe {
    height: calc(100vh - 64px);
    width: 100%;
    border: none;
  }
}
