html {
  height: 100%;
}

body {
  height: 100%;
}

.row {
  margin-bottom: 0;
  .col.full {
    padding: 0;
  }
}

.deploy-steps {
  .collection-item {
    .fa {
      font-size: 20px;
    }

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    .secondary-content {
      color: #03a9f4;
    }

    &.success {
      .secondary-content {
        color: #4caf50;
      }
    }

    &.failure {
      .secondary-content {
        color: #f44336;
      }
    }
  }
}

nav {
  .brand-logo {
    &.right {
      padding-top: 7px;
      padding-right: 15px;
    }

    img {
      width: 30px;
    }
  }
  box-shadow: none;
}

.browser {
  height: calc(100vh - 64px);

  iframe {
    height: calc(100vh - 64px);
    width: 100%;
    border: none;
  }
}

.editor-col {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
  &.disabled {
    min-width: 0;
    max-width: 0;
  }
}

.browser-col {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
  box-shadow: inset 8px 0px 7px -8px rgba(0, 0, 0, 0.16);

  &.active {
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    box-shadow: inherit;
  }
}
